<li>
  <button class="uk-button uk-button-default delete-burger" data-id="{{this.id}}"><span class="fas fa-trash"></span></button>
	<span class="burger-name">{{name}}</span>

	<button class="uk-button uk-button-default change-status" data-id="{{id}}" data-newstatus="{{devoured}}">
		{{#if devoured}}<span class="fas fa-utensils"> Chow Down</span>{{else}}<span class="fas fa-poop"> Return</span>{{/if}}
	</button>
</li>